 .about{
 	width: 100%;
 }
 .about_content{
 	width: 100%;
 	padding: 0 0.48rem;
 	box-sizing: border-box;
 }

 
 .about_info{
 	font: 0.5rem/0.6rem "微软雅黑";
 	box-sizing: border-box;
 	display: flex;
 	flex-direction: column;
 	align-items: center;
 	justify-content: center;
 }
  .about_info img{
  	width:8rem;
  	height: 5.333333rem;
  	text-align: center;
  	padding: 0.266666rem;
  	box-sizing: border-box;
  }
