.top_info_time{
	background: #FFFFFF;
	justify-content:flex-start;
	margin-top:0;
	color: #1E8A10;
}
.evaluate{
	height: 7.066666rem;
	display: flex;
	flex-direction: column;
}
.evaluate_time{
	
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.evaluate_time p{
	font-size: 0.24rem;
}
.evaluate_time i{
	color:#fdbe01 ;
	margin: 0;
	padding: 0;
	font-size: 0.293333rem;
}
.details_title{
	font: 0.32rem/0.666666rem "微软雅黑";
}
.datails_content{

	width: 8.666666rem;
	height: 1.466666rem;
	margin-left: 0.4rem;
	font: 0.266666rem/0.4rem "微软雅黑";
	background: #fff9eb;
	padding: 0.186666rem 0.266666rem;
	box-sizing: border-box;
	}
.additional{
	margin-left: 0.4rem;
	display: flex;
	justify-content: space-between;
	
}
.additional .details_title{
	margin-top: 0.266666rem;
	display: flex;
	
}

.additional .datails_content{
	width: 7.733333rem;
	margin-left: 0.133333rem;
}
