.orderNumber{
	width: 100%;
	margin-top: 0.106666rem;
}

.orderNumber_content{
	width: 100%;
}
.orderNumber_title{
	width: 100%;
	height: 0.613333rem;
	background: #FFFFFF;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 0.426666rem 0 0.32rem;
	box-sizing: border-box;
	font-size: 0.24rem;
	
}
.orderNumber_info{
	width: 100%;
	background: #FFFFFF;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
.info-content{
	height: 100%;
	width: 9.493333rem;
	border-top: 0.053333rem solid  #f5f5f5;
	padding: 0.24rem 0.133333rem;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
}
.info_top{
	display: flex;
	justify-content: space-between;
	align-items:  flex-start;
	font: 0.32rem/0.4rem "微软雅黑" ;

}
.info_top img{
	width: 1.6rem;
	height: 1.6rem;
	border: 0.053333rem solid #e2e2e2;
	
}
.info_top .top_info{
	padding: 0 1.173333rem 0 0.32rem;
	box-sizing: border-box;
}
.top_info_time {
	margin-top: 0.24rem;
	width: 2.8rem;
	height: 0.72rem;
	background: #f0f0f0;
	display: block;
	display: flex;
	justify-content: center;
	align-items: center;
}
.info_number{
	text-align: end;
}
.info_price {
	color: #1E8A10;
}
.info_btn {
	align-self: flex-end;
	margin-top: 0.4rem;
	}
.info_btn button{
	width: 1.6rem;
	height:0.64rem;
	border: 0.053333rem solid #d1d1d1;
	background: none;
	border-radius: 0.133333rem;
}
.info_btn button:nth-child(2){
	color: #1E8A10;
	border: 0.053333rem solid #1E8A10;
	
}

.public_dialog_content{
	display: flex;
	justify-content: center;
	align-items: center;
}
.order_dialog{
	width: 7.386666rem;
	height: 4rem;
	background: #FFFFFF;
	border-radius: 0.133333rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;	
	padding: 0.4rem 0.266666rem 0;
	box-sizing: border-box;
}
.reason{
	display: flex;
	justify-content: space-between;
	font-size: 0.293333rem;
}
.reason textarea{
	width: 5.466666rem;
	height: 1.333333rem;
}
.require{
	display: flex;
	
}
.require ul{
	width: 5.333333rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: 0.32rem;
	margin-left: 0.4rem;
}
.dialog_btn{
	height: 1.066666rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-top: 0.053333rem solid #f0f0f0;
}
.dialog_btn button{
	height: 100%;
	width: 50%;
	font-size: 0.4rem;
	border: 0;
	background: none;
}
.dialog_btn button:first-child{
	color: #1E8A10;
}
.dialog_btn button:last-child{
	color: #fcc95e;
}
