<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>商品分类</title>
	<link rel="stylesheet" type="text/css" href="css/iconfont.css"/>
	<link rel="stylesheet" type="text/css" href="css/style.css"/>
	<link rel="stylesheet" type="text/css" href="css/goodsCategory.css"/>
</head>
<body>
	<div class="public_content" id="Catedory">
		<header class="public_header">
			<div class="public_header_content">
				<a href="store.html"><i class="iconfont icon-xiazai6"></i></a>
				<a href="#">商品分类</a>
			</div>
		</header>
		<section class="category">
			<div class="category_content ">
				<div class="category_listbox">
					<ul>
						<a href="#">
							<li v-for="(Catedory,index) in lists" :key="index" :class="{active: index === Index}" @click="list_click(index)" v-text="list[index].catename"></li>
						</a>
					</ul>
					
				</div>
				<div class="category_details " >
					
					<div class="datails_content"  v-for="(details,index) in goods" :key="index"   >
							<img :src="'http://xiaoer.yuncentry.com' + good[index].cover_img" />
							<div>
								<p v-text="good[index].goods_name"></p>
								<span>￥<span v-text="good[index].shop_price"></span>元</span>
								<div class="datails_num">
									<input type="button" name="subtract" value="-">
									<input type="number" value="1"/>
									
									<input type="button" name="add" value="+" >
									
								</div>
							</div>
							<i class="iconfont icon-weibiao45124 shoppingcart" ></i>
							
						
						
					</div>
				</div>
			</div>
		</section>
		
		
	</div>
</body>
<script src="js/FontSize.js"></script>
<script src="js/iconfont.js"></script>
<script src="js/jquery-3.3.1.js"></script>
<!--<script src="js/datails_num.js"></script>-->
<script src="js/vue.min.js"></script>
<script src="js/token.js"></script>
<script src="js/goodsCategory.js"></script>

</html>