<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>硬件商城</title>
	<link rel="stylesheet" type="text/css" href="css/iconfont.css"/>
	<link rel="stylesheet" type="text/css" href="css/style.css"/>
	<link rel="stylesheet" type="text/css" href="css/swiper-4.3.3.min.css"/>
	<link rel="stylesheet" type="text/css" href="css/store.css"/>
</head>
<body>
	<div class="public_content" id="store">
		<header class="public_header">
			<div class="public_header_content">
				<div class="top_btn">
					<a href="message.html"><i class="iconfont icon-icon--"></i></a>
					<a href="search.html"><i class="iconfont icon-search"></i></a>
				</div>	
				<a href="#">硬件商城</a>

				
			</div>
		</header>
		<div class="swiper-container">
			  <!--<div class="swiper-wrapper">
			    <div class="swiper-slide slide1" ><img :src="'http://xiaoer.yuncentry.com' + img" /></div>
			    <div class="swiper-slide slide2"></div>
			    <div class="swiper-slide slide3"></div>
			    
			    
			  </div>-->
			  <ul class="swiper-wrapper">
					<li v-for="(slider,index) in items" :key="index" :class="'swiper-slide'" >
						<a href="#">
							<img :src="'http://xiaoer.yuncentry.com' + item[index].img" />
						</a>
					</li>
				</ul>
			  
			   <div class="swiper-pagination"></div>
		</div>
		<section class="goods">
			<div class="goods_content">
				<div class="goods_top">
					<a href="#">
						<i class="iconfont icon-kongwujiaoxing"></i>
						<span>食用油</span>
					</a>
					<a href="#">
						<i class="iconfont icon-mifan"></i>
						<span>全球大米</span>
					</a>
					<a href="#">
						<i class="iconfont icon-shuifen"></i>
						<span>优质饮水</span>
					</a>
					<a href="goodsCategory.html">
						<i class="iconfont icon-fenlei"></i>
						<span>更多产品</span>
					</a>
				</div>
				<div class="goods_btm">
					<a href="#">
						<div>
							<span>日用百货</span>
							<p>你的生活我懂得</p>
						</div>
						<i class="iconfont icon-penzai"></i>
					</a>
					<a href="#">
						<div>
							<span>土特产</span>
							<p>要多土有多土</p>
						</div>
						<i class="iconfont icon-tutechan"></i></a>
				</div>
			</div>
		</section>
		
		<section class="products">
			<div class="products_content">
				<div class="products_title" ><a href="#">精选推荐</a></div>
					 <div class="products_details">
						<a v-for="(goodgg,index) in goods" :key="index" @click="store_click(index)">
								<img :src="'http://xiaoer.yuncentry.com' + good[index].cover_img" />
								<p v-text="good[index].goods_name"></p>
								<span>￥<span v-text="good[index].shop_price"></span>元</span>
						</a>
					</div>
			</div>
			<div class="products_content">
				<div class="products_title"><a href="">热门产品</a></div>
				
					 <div class="products_details">
						<a v-for="(goodgg,index) in goods" :key="index"  @click="store_click(index)" >
								<img :src="'http://xiaoer.yuncentry.com' + good[index].cover_img" />
								<p v-text="good[index].goods_name"></p>
								<span>￥{{good[index].shop_price}}元</span>
						</a>
					</div>
			</div>
		</section>
		<footer class="public_footer">
			<div class="public_footer_content">
				<a href="#">
					<i class="iconfont icon-weibiao45100847"></i>
					<span>首页</span>
				</a>
				<a href="goodsCategory.html">
					<i class="iconfont icon-leimupinleifenleileibie"></i>
					<span>分类</span>
				</a>
				<a href="shopCart.html">
					<i class="iconfont icon-shoppingcart"></i>
					<span>购物车</span>
				</a>
				<a href="personalcenter.html">
					<i class="iconfont icon-user"></i>
					<span>个人中心</span>
				</a>
			</div>
		</footer>
	</div>
</body>
<script src="js/FontSize.js"></script>
<script src="js/iconfont.js"></script>
<script src="js/jquery-3.3.1.js"></script>
<script src="js/swiper-4.3.3.min.js"></script>
<script src="js/vue.min.js"></script>
<script src="js/store.js"></script>	
<!--<script src="js/mall.js"></script>-->
	
<!--<script>
	
	var mySwiper = new Swiper('.swiper-container', {
	  autoplay:true,//等同于以下设置
	  /*autoplay: {
	    delay: 3000,
	    stopOnLastSlide: false,
	    disableOnInteraction: true,
	    },*/
	     loop : true,
	     pagination: {
		     el: '.swiper-pagination',
		    clickable :true,
		  },
		

	});
	mySwiper.el.onmouseover = function(){
 		 mySwiper.autoplay.stop();
	}
</script>-->
</html>